<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204882983738-pal9ubedh48fkq4cbj8hohr5r0p8rbrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204882983738-pal9ubedh48fkq4cbj8hohr5r0p8rbrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDAi2oN68LZd_292Axaiaj3C7VLC3JYwMY</string>
	<key>GCM_SENDER_ID</key>
	<string>204882983738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.NIBM-COVID-19</string>
	<key>PROJECT_ID</key>
	<string>nibm-covid-19-db0aa</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-covid-19-db0aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204882983738:ios:85cf9186851f5d37026e03</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-covid-19-db0aa.firebaseio.com</string>
</dict>
</plist>